<div>
    <p>Hello {{name}}</p>
    <input type="text" [(ngModel)]="name">
    <button (click)="resetName()">Reset</button>
</div>
<br>
<div>
    <input type="text" [(ngModel)] = "age">
    <p class="age" >Tuổi của bạn là {{age}}</p>
    <!-- <p *ngIf="age <= 18">Trẻ</p> -->
    <!-- <p *ngIf="age > 18">Già</p> -->

    <div *ngIf="age <= 18; then tre; else gia"></div>
    <ng-template #tre> <p class="tre" >Young</p> </ng-template>
    <ng-template  #gia> <p class="gia">Old</p> </ng-template>

    <div *ngFor=" let trai of traiCay"> 
        <p>{{trai}}</p>
    </div>
</div>

<br>
<div>

    <table id="table2" class="table">
        <tr>
            <th>STT</th>
            <th>Tên</th>
            <th>Giá</th>
            <th>Ghi chú</th>
        </tr>

        <tr *ngFor=" let trai of traiCay2; let i = index">
            <td class="">{{i + 1}}</td>
            <td>{{trai.ten}}</td>
            <td>
                <span [ngClass]="{'so-am' : trai.gia < 0 }">{{trai.gia}}</span>
            </td>
            <td>
                <span *ngIf="trai.haGia">Đang giảm giá</span>
            </td>
        </tr>

    </table>
</div>
