<div>
    <p>Hello {{name}}</p>
    <input type="text" [(ngModel)]="name">
    <button (click)="resetName()">Reset</button>
</div>


<br>
<div>
    <input type="text" [(ngModel)] = "age">
    <p class="age" >Tuổi của bạn là {{age}}</p>

    <div *ngIf="age <= 18; then tre; else gia"></div>
    <ng-template #tre> <p class="tre" >Young</p> </ng-template>
    <ng-template  #gia> <p class="gia">Old</p> </ng-template>

    <!-- <div *ngFor=" let trai of traiCay"> 
        <p>{{trai}}</p>
    </div> -->
</div>

<br>
<div>

    <table id="table2" class="table">
        <tr>
            <th>STT</th>
            <th>Tên</th>
            <th>Giá</th>
            <th>Ghi chú</th>
        </tr>

        <tr *ngFor=" let trai of traiCay2; let i = index">
            <td class="">{{i + 1}}</td>
            <td>{{trai.ten | uppercase}}</td>
            <td>
                <span [ngClass]="{'so-am' : trai.gia < 0 }">{{trai.gia | currency:'VND':'symbol':'.0'}}</span>
            </td>
            <td>
                <span *ngIf="trai.haGia">Đang giảm giá</span>
            </td>
            <td>
                <div *ngIf="trai.giaKhuyenMai > 0; then tre; else gia"></div>
                <ng-template #tre> <p>{{trai.giaKhuyenMai | currency:'VND':'symbol':'.0'}}</p> </ng-template>
                <ng-template  #gia> <p>{{trai.gia | currency:'VND':'symbol':'.0'}}</p> </ng-template>
            </td>
        </tr>

    </table>
</div>
<br>
<div>
    Thành phố
    <select name="city" id="city" (change)="changeCity($event)" >
        <option *ngFor="let data of VietNamCity" [value]="data.city">{{data.city}}</option>
      </select>
    <br>
    Quận/Huyện
    <select name="city" id="city" >
        <option *ngFor="let data of districts" [value]="">{{data}}</option>
      </select>
</div>