p.age{
    color: blue;
    opacity: .8;
    &:hover{
        opacity: 1;
        cursor: pointer;
    }
}

.tre{
    color: green;
}

.gia{
    color: #ff0000;
}

.table, td,th{
    border-collapse: collapse;
    border: 1px solid #000;
    text-align: center;
  }

  td,th{
    min-width: 100px;
  }

  .so-am{
    color: #ff0000;
  }